<% include ../partials/head %>
	<% include ../partials/nav %>

<p style="clear: both;"><br/></p>
<p style="clear: both;"><br/></p>
<h1><%= title %></h1>
<p style="clear: both;"><br/></p>

<% include ../partials/footer %>