		<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; 2017</li><li>Developed By: <a href="#">Webgrillz IT Solutions</a></li>
					</ul>

					<ul class="nav">
						<li><a href="/">Home</a><li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/privacy">Privacy</a></li><li><a href="/terms">Terms</a></li>
						<li><a href="/faq">FAQ</a></li>
					</ul>

				</footer>
		</div>
		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollgress.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>

	</body>
</html>