<% include partials/head %>
	<% include partials/nav %>

<!-- Main -->
				<article id="main">

					<!-- One -->
						<section class="wrapper style4 special container 75%">

							<!-- Content -->
								<div class="content">
									<p>welcome</p>
								</div>

						</section>

				</article>

<% include partials/footer %>