<% include partials/head %>
<% include partials/nav %>
<!-- Main -->
	<article id="main">

		<header class="special container">
			<span class="icon fa-envelope"></span>
			<h2>Welcome to Butlers</h2>
			<p>Sign In to proceed</p>
			 <!-- show any messages that come back with authentication -->
				<% if (message.length > 0) { %>
					<div class="alert alert-danger"><p><%= message %></p></div>
				<% } %>
		</header>

		<!-- One -->
			<section class="wrapper style4 special container 75%">

				<!-- Content -->
					<div class="content">
						<form method="post" action="/users/signin">
							<div class="row 50%">
								<div class="6u 12u(mobile)">
									<input type="email" name="email" placeholder="Email Address" />
								</div>
								
								<div class="6u 12u(mobile)">
									<input type="password" name="password" placeholder="Password" />
								</div>
							</div>
							
							
							<div class="row">
								<div class="12u">
									<ul class="buttons">
										<li><input type="submit" class="special" value="Login" /></li>
									</ul>
								</div>
								
							</div>
						</form>
					</div>

			</section>

	</article>

<% include partials/footer %>